*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #48e;
}
.nav__header{
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: #48e;
}
.title__logo{
    font-size: 18px;
}
.nav__list{
    display: flex;
    flex-direction: row;
    list-style: none;
    /* background-color: #fff; */
    margin-left: 150px;
    width: 50%;
    justify-content: space-around;
}
.nav__item{
    margin-left: 30px;
    padding: 5px;
}
.intro{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #DB2B39;
    grid-column: 1/3;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
main{
    display: grid;
}
article{
    width: 45vw;
    /* background-color: #; */
}
.Pasteles{
    display: flex;
    gap: 50px;
    flex-direction: row;
    align-items:flex-end;
    margin-bottom: 20px;
    justify-content: center;
}
/* .item__pastel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    color: #000;
} */
.formato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
}
.selección__pasteles{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #DB2B39;
    color: #fff;
    height: auto;
    border-radius: 50px;
}
input{
    /* width: 50%; */
    text-align: center;
    margin-top: 10px;
    border-radius: 2rem;
    outline: none;
    padding: 5px;
    background-color: #29335C;
    color: #fff;
}
#button{
    margin-bottom: 50px;
    background-color: #0f0f0f;
    color: #fff;
}
.nav__list a{
    text-decoration: none;
    color: #fff;
    margin-top: 0;
}
a{
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
}
#reset{
    margin-top: -10px;
    margin-bottom: 30px;
}
.view__cliente, .view__enterprise{
    background-color: #29335C;
    padding: 20px;
    margin-left: 1px;
    color: #fff;
}
.title{
    color: #000;
}
h4{
    font-size: 18px;
    text-decoration:underline;
}
.pedido,.informe{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.select__cake{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.ingredients__cake{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.select__cake input[type="checkbox"]{
    margin: 5px auto;
}
.ingredients__cake input[type="checkbox"]{
    margin: 5px auto;
}
@media (max-width:900px){
    .intro{
        grid-column: 1/2;
    }
    article{
        width: 88vw;
        margin: auto;
        text-align: center;
    }
    .nav__list{
        margin-left: 50px;
    }
}
.logo{
    width: 100px;
    border-radius: 50%;
    margin: auto;
}